apiVersion: batch/v1
kind: Job
metadata:
  name: '{{ .Values.SERVICE_NAME }}'
spec:
  template:
    metadata:
      labels:
        app: '{{ .Values.SERVICE_NAME }}'
    spec:
      serviceAccountName: '{{ .Values.SA_NAME }}'
      containers:
      - name: '{{ .Values.SERVICE_NAME }}'
        image: '{{ .Values.qubership-istio-deployer-image}}'
        imagePullPolicy: Always
        args:
        - entrypoint.sh
        env:
        - name: DEPLOYMENT_SESSION_ID
          value: '{{ .Values.DEPLOYMENT_SESSION_ID }}'
        volumeMounts:
        - name: istio-config
          mountPath: /config
      restartPolicy: OnFailure
      volumes:
      - name: istio-config
        configMap:
          name: istio-operator-config
  backoffLimit: 4