apiVersion: batch/v1
kind: Job
metadata:
  name: '{{ .Values.SERVICE_NAME }}'
  annotations:
    helm.sh/hook: "pre-install,pre-upgrade"
    helm.sh/hook-weight: "-100"
    helm.sh/hook-delete-policy: "before-hook-creation, hook-succeeded"  
spec:
  template:
    metadata:
      labels:
        app: '{{ .Values.SERVICE_NAME }}'
    spec:
      serviceAccountName: '{{ .Values.SA_NAME }}'
      containers:
      - name: '{{ .Values.SERVICE_NAME }}'
        image: '{{ .Values.qubership_istio_deployer_image}}'
        imagePullPolicy: Always
        args:
        - /workspace/entrypoint.sh
        env:
        - name: DEPLOYMENT_SESSION_ID
          value: '{{ .Values.DEPLOYMENT_SESSION_ID }}'
        volumeMounts:
        - name: istio-config
          mountPath: /config
      restartPolicy: OnFailure
      volumes:
      - name: istio-config
        configMap:
          name: istio-operator-config
  backoffLimit: 4